@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 40rem;
  max-width: 500px;
  border-radius: 5%;
}

.image img {
  border-radius: 25px;
  max-height: 80vh;
  width: 100%;
}

.container h1 {
  font-size: 1.5rem;
  margin: 10px;
  color: black;
  text-align: center;
  width: auto;
}

.container p {
  font-size: 90%;
  text-align: center;
  margin: 0 auto;
  width: 80%;
  color: grey;
}

.body {
  margin: 1em;
}